/* client/src/components/auth/auth.css */
.login-wrapper {
  color: #aaabb8;
  height: 100vh;
  width: 100vw;
  font-family: "Asap", sans-serif;
  background-color: #25274d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-logo-container {
  padding-bottom: 20px;
}

/* New style for the Lucide icon */
.logo-icon {
  color: #2e9cca; /* Primary Accent color */
}

.login-box-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.login-box {
  padding: 40px 30px;
  width: 380px;
  min-height: 300px;
  border-radius: 10px;
  background-color: #464866;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.login-box h2 {
    margin-bottom: 10px;
    color: #ffffff;
}

.input {
  width: 280px;
  height: 40px;
  background-color: #25274d;
  border-radius: 5px;
  padding: 0 1rem;
  border: 1px solid #aaabb8;
  font-size: 1rem;
  color: #aaabb8;
  transition: all 0.3s ease;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: #aaabb8;
  transition: color 0.3s ease;
}

.input:hover,
.input:focus {
  outline: none;
  border-color: #2e9cca;
}

.submit-btn {
  background-color: #2e9cca;
  border: none;
  width: 280px;
  border-radius: 5px;
  height: 40px;
  color: #ffffff;
  font-weight: 700;
  font-size: 1rem;
  padding: 0 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #29648a;
}

.submit-btn:disabled {
    background-color: #aaabb8;
    cursor: not-allowed;
}

.pass-box {
  width: 380px;
  border-radius: 10px;
  padding: 20px;
  background-color: transparent;
  text-align: center;
}

.signup {
  color: #2e9cca;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.signup:hover {
    text-decoration: underline;
}

@media screen and (max-width: 450px) {
  .login-box {
    width: 90vw;
    padding: 30px 15px;
  }
  .input, .submit-btn {
    width: 100%;
  }
  .pass-box {
    width: 90vw;
  }
}