.navbar {
  background: #25274d; 
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid #464866;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  padding: 0 24px;
  max-width: 1200px;
}

.navbar-logo {
  color: #aaabb8; /* Text Color */
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.navbar-icon {
  margin-right: 0.5rem;
  color: #2e9cca; /* Primary Accent */
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #aaabb8; /* Text Color */
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  transition: all 0.2s ease-out;
}

.nav-links:hover {
  color: #2e9cca; /* Primary Accent */
}

.nav-links-btn {
  background-color: #2e9cca;
  color: white;
  padding: 8px 20px;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.nav-links-btn:hover {
  background-color: #29648a;
}

.menu-icon {
  display: none;
  color: #aaabb8;
}

.nav-links-mobile {
  display: none;
}

.logout-btn {
    background: transparent;
    border: none;
    color: #aaabb8;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.logout-btn:hover {
    color: #2e9cca;
}

@media screen and (max-width: 960px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #464866; /* Secondary Background */
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #29648a; /* Secondary Accent */
    color: #ffffff;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: #2e9cca; /* Primary Accent */
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-item .logout-btn {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
  }

  li .logout-btn {
    display: none;
  }
}